body{
  background-color: yellow;
  background-image: url(./logo.png);
  h1{
    color: red;
  }
  /* 设置标题的样式 */
  .title{
    color: lawngreen;
    font-size: 50px;
    color: lawngreen;
    color: lawngreen;
  }
  .title{
    line-height: 100px;
  }
}